<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BokaMera.API.ServiceModel" version="0.2.397" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.8.0" targetFramework="net45" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.MsgPack" version="4.5.4" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net45" />
</packages>